.navsearchinput {
    height: 36px;
    width: 242px;
    border-radius: 15px;
    padding: 4px 0px 7px 15px;
    margin-right: 6px;
    margin-top: 10px;
    margin-left: 68px;
}

.nav1{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
}

.searchbtn {
    height: 35px;
    width: 84px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: -2px;
    background-color: #27ff68;
    margin-right: 25px;
}

.settingsimg {
    width: 30px;
    height: 29px;
}

.settingsbtn {
    width: 40px;
    height: 30px;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    margin-left: 20px;
}

.logoimg {
    width: 47px;
    height: 42px;
    border-radius: 42px;
    margin-left: 52px;
    margin-right: 22px;
    margin-bottom: 16px;
}

.afterlogo-name {
    color: rgba(137, 255, 41, 0.707);
    font-size: 20px;
    margin-left: -121px;
    margin-right: 200px;
    margin-bottom: -40px;
}

.lightmodetxt {

    margin-top: 14px;
    color: #2196F3;

}

label {
    width: 84px;
    height: 31px;
    position: relative;
    display: block;
    background: #fff;
    border-radius: 20px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgb(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
    margin-left: 1410px;
    margin-top: -76px;
}

label::after {
    content: "DAY";
    width: 30px;
    margin-bottom: 1px;
    height: 30PX;
    position: absolute;
    top: 10px;
    left: 3px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: -9px;
}

div input:checked+label {
    background: #4ed262;
}

div input:checked+label::after {
    left: 82px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #c2c2c2, #ffffff);
}

label:active::after {
    width: 50px;
}

.background {
    width: 1518px;
    height: 2600px;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}

div input:checked+label+.background {
    background: #242424e3;
}

.moonimgg {
    width: 25px;
    height: 23px;
    margin-left: 1464px;
    margin-top: -26px;
    position: absolute;
    z-index: 100;
}

.pricing {
    margin-bottom: 300px;
    margin-top: 900px;
    margin-left: 30px;
    margin-right: 30px;
}

.divmap {
    margin-left: 68px;
    margin-top: -342px;
    margin-bottom: 416px;
    width: 1377px;
    height: 653px;
    border-radius: 30px;
}

.divweatherdetails {
    width: 592px;
    height: 587px;
    background-color: #4f4b4b94;
    margin-left: 86px;
    margin-bottom: -716px;
    margin-top: 332px;
    border-radius: 28px;
}

/* ///////////////////////////////////////// */

.clockeka {
    margin-bottom: 1px;
    margin-left: -5px;
    margin-top: 1px;
}

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    width: 213px;
    height: 98px;
    background: rgba(122, 119, 119, 0.71);
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(140px);
    margin-top: -191px;
    margin-left: 797px;
}

.clock span {
    font-size: 20px;
    width: 29px;
    display: inline-block;
    text-align: center;
    position: relative;
    color: #ffffff;
    margin-top: -43px;
}

.clock span::after {
    font-size: 10px;
    position: absolute;
    bottom: -5px;
    left: 19%;
    transform: translateX(50%);
}

#hrs::after {
    content: 'HOURS';
    left: -56%;
}

#min::after {
    content: 'MIN';
    left: -13%;
}

#sec::after {
    content: 'SEC';
    left: -11%;
}

.dd-mm-yyyy {
    font-size: 25px;
    color: #ffffff;
    margin-top: -42px;
    margin-left: 836px;
    position: absolute;
}

/* //////////////////////////////////////////////// */

.searchlocation {
    background-color: #ffffff00;
    border-width: 0.0000001px;
    margin-left: -212px;
    margin-top: 71px;
    color: white;
    width: 400px;
    height: 90px;
    font-size: 60px;
    padding: 13px 0px 28px 76px;
}

.weather1{  
    width: 219px;
    height: 280px;
    margin-left: 83px;
    margin-top: 915px;
    background-color: #aaa8a892;
    margin-bottom: 300px;
    border-radius: 30px;

}

.weather2 {
    width: 219px;
    height: 280px;
    margin-left: 361px;
    margin-top: -580px;
    background-color: #aaa8a892;
    margin-bottom: -561px;
    border-radius: 30px;
}

.weather3 {
    width: 219px;
    height: 280px;
    margin-left: 645px;
    margin-top: 282px;
    background-color: #aaa8a892;
    margin-bottom: 300px;
    border-radius: 30px;
}

.weather4 {
    width: 219px;
    height: 280px;
    margin-left: 932px;
    margin-top: -579px;
    background-color: #aaa8a892;
    margin-bottom: 300px;
    border-radius: 30px;
}

.weather5 {
    width: 219px;
    height: 280px;
    margin-left: 1217px;
    margin-top: -580px;
    background-color: #aaa8a892;
    margin-bottom: 591px;
    border-radius: 30px;
}

.location-search{
    margin-top: 12px;
    margin-bottom: -1px;
    margin-left: 146px;
    font-size: 52px;
    color: #453939;
}

/* //////////////////////////////////////////// */

.content2{
    position: absolute;
    margin-left: 571px;
    margin-bottom: -392px;
    margin-top: -327px;
}

.content2 h2{
    position: absolute;
    transform : translate(-10%,-10%);
    font-size: 8em;
}

.content2 h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #fb874e;
}

.content2 h2:nth-child(2){
    color: #1689ba;
    animation: animate 1s ease-in-out infinite;
}

@keyframes animate{

    0%,100%{
        clip-path: polygon(0 40%, 13% 36%, 29% 35%, 41% 43%, 53% 49%, 66% 54%, 80% 51%, 93% 46%, 100% 43%, 100% 100%, 0% 100%, );   
     }
    50%{
        clip-path: polygon(0 100%, 99% 99%, 53% 100%);    
    }
}
/* ///////////////////////////////// */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 18%;
}

footer a {
    color: #fff; /* Style links within the footer */
}
.fbimg{
    margin-top: 34px;
    /* margin-left: -21px;
    margin-right: 10px; */
    width: 38px;
    height: 38px;
}
.instaimg{
    margin-top: 34px;
    margin-right: 35px;
    margin-left: 35px;
    width: 38px;
    height: 38px;
}
.twitterimg{
    margin-top: 34px;
    margin-right: 39px;
    width: 38px;
    height: 38px;
}
.weather-image1 {
    margin-left: 293px;
    margin-top: -21px;
    width: 253px;
    height: 210px;
}
.footer {
    position: absolute;
    margin-top: -36px;
    width: 100%;
    height: 298px;
}
.locationName {
    margin-top: -20px;
    margin-left: 10px;
    color: #27ff68;
}
.citytext {
    margin-top: -109px;
    margin-left: 58px;
    color: #4ed262;
    font-size: 46px;
}
.temptxt {
    position: absolute;
    margin-left: 243px;
    margin-top: 79px;
    color: #ffffff;
}
.cloudSituation {
    margin-left: 357px;
    margin-top: -48px;
    color: #2196F3;
}
.windl {
    position: relative;
    margin-left: 123px;
    margin-top: 255px;
    color: #ffffff;
}
.wind {
    position: relative;
    margin-left: 243px;
    margin-top: -43px;
    color: #ffffff;
}
.humidityl {
    position: absolute;
    margin-left: 71px;
    margin-top: 161px;
    color: #ffffff;
}
.humidity {
    position: absolute;
    margin-left: 241px;
    margin-top: 164px;
    color: #ffffff;
}
.templ {
    position: absolute;
    margin-left: 26px;
    margin-top: 77px;
    color: #ffffff;
}
.province {
    position: absolute;
    margin-left: 19px;
    margin-top: -440px;
    color: #ffffff;
}
.weather1Img {
    width: 122px;
    height: 97px;
    margin-left: 48px;
    margin-top: 5px;
}
.date1 {
    text-align: center;
    margin-top: 5px;
    color: #d8860b;
}







